
        <!-- Unique ID for Contact section -->  
        <hr>
        <section id="contact-section" class="py-5">
            <div class="container text-center" style="color: white;">
                <h2 class="text-gradient animated-text">Contact Me</h2>
                <p>If you'd like to get in touch, feel free to email me at 
                    <a href="mailto:mohamedasick199@gmail.com" style="color: #ffffff;">mohamedasick199@gmail.com</a>.
                </p>
                <div class="social-icons">
                    <a href="https://www.instagram.com/cozitzasick_/" target="_blank">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mohamed-asick-a-54580a257" target="_blank">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <a href="https://github.com/mohamedasick87" target="_blank">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                    <a href="javascript:void(0);" onclick="showPopup()">
                        <i class="fas fa-phone fa-2x"></i>
                    </a>
                </div>
        
                <!-- Popup for displaying the phone number -->
                <div id="popup" class="popup">
                    <div class="popup-content">
                        <span class="close" onclick="closePopup()">&times;</span>
                        <h5>Contact Number: +91 7339191640 </h5>
                    </div>
                </div>
        
                <br>
                <p>© 2024 All rights reserved by MOHAMED ASICK</p>
            </div>
        </section>
        